$blue: #389AF5;
$body-color: #414141;
$font-family-sans-serif: rubik, system-ui, -apple-system, "segoe UI", Roboto, "Helvetica Neue", "Noto Sans", Arial, sans-Serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Emoji Color";
$heading-font-weight: 700;